name: Unit Tests

on:
  workflow_call:
    inputs:
      tox-unit-test-targets:
        description: Comma separated list of tox targets needed to perform unit-tests
        type: string
        required: false
        default: unit

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run unit tests
        run: tox -e ${{ inputs.tox-unit-test-targets }}
