name: Lint rockcraft.yaml

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install yamllint
        run: |
          python3 -m pip install yamllint

      - name: YAML linting
        run: |
          yamllint --no-warnings rockcraft.yaml
