name: Lint rockcraft.yaml

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install yamllint
        run: |
          python3 -m pip install yamllint

      - name: YAML linting
        run: |
          yamllint --no-warnings rockcraft.yaml
