name: Lint rockcraft.yaml

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install yamllint
        run: |
          python3 -m pip install yamllint

      - name: YAML linting
        run: |
          yamllint --no-warnings rockcraft.yaml
