name: release

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true   

permissions:
    contents: write
    pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:   
          token: ${{ secrets.PAT_TOKEN }}
          # optional. customize path to release-please-config.json
          config-file: release-please-config.json
          # optional. customize path to .release-please-manifest.json
          manifest-file: .release-please-manifest.json
          # target adjusts for track releases
          target-branch: ${{ github.ref_name }}
          # ensure release-please manifest has the component set to track-<version> in track branches
          include-component-in-tag: ${{ contains(github.ref_name, 'track') }}
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - if: ${{ steps.release.outputs.pr != '' }}
        run: |
          gh pr merge --auto --merge ${{ fromJSON(steps.release.outputs.pr).number }} || true
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
