name: release

on:
  workflow_call:
    secrets:
      PAT_TOKEN:
        required: true   

permissions:
    contents: write
    pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@a02a34c4d625f9be7cb89156071d8567266a2445 # v4
        id: release
        with:   
          token: ${{ secrets.PAT_TOKEN }}
          # optional. customize path to release-please-config.json
          config-file: release-please-config.json
          # optional. customize path to .release-please-manifest.json
          manifest-file: .release-please-manifest.json
          # target adjusts for track releases
          target-branch: ${{ github.ref_name }}
          # ensure release-please manifest has the component set to track-<version> in track branches
          include-component-in-tag: ${{ contains(github.ref_name, 'track') }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - if: ${{ steps.release.outputs.pr != '' }}
        run: |
          gh pr merge --auto --merge ${{ fromJSON(steps.release.outputs.pr).number }} || true
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
