name: Deploy via JIMM
run-name: Deploy ${{ inputs.channel }} rev ${{ inputs.revision}} to ${{ inputs.model }} via JIMM

on:
  workflow_call:
    inputs:
        application:
            type: string
            required: true
        model:
            type: string
            required: true
        revision:
            type: string
            required: true
        channel:
            type: string
            required: true
        tf-application-resource:
            type: string
            # Set this default for backwards compatibility.
            # TODO(nsklikas): When all repos have migrated to use the charm tf
            # module to deploy then we should change the default to
            # "module.application.juju_application.application".
            # See https://github.com/canonical/identity-team/issues/63
            default: "juju_application.application"
            required: false
        tf-folder:
            type: string
            default: "./deployment"
            required: false
        plan-only:
            type: boolean
            description: "Run terraform plan instead of apply"
            default: false
            required: false
    secrets:
        CLIENT_ID:
            required: true
        CLIENT_SECRET:
            required: true
        JIMM_URL:
          required: true
        MODEL_UUID:
          required: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-24.04
    env:
      TF_VAR_model: ${{ inputs.model }}
      TF_VAR_revision: ${{ inputs.revision }}
      TF_VAR_channel: ${{ inputs.channel }}
      TF_VAR_application_name: "${{ inputs.application }}"
      TF_VAR_client_id: ${{ secrets.CLIENT_ID }}
      TF_VAR_client_secret: ${{ secrets.CLIENT_SECRET }}
      TF_VAR_jimm_url: ${{ secrets.JIMM_URL }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_wrapper: false
      - name: Import application into state if present
        working-directory: ${{ inputs.tf-folder }}
        run: |
          terraform init
          terraform import ${{ inputs.tf-application-resource }} ${{ secrets.MODEL_UUID }}:${{ inputs.application }} || true

      - name: Plan
        if: ${{ inputs.plan-only }}
        working-directory: ${{ inputs.tf-folder }}
        run: terraform plan

      - name: Deploy
        if: ${{ !inputs.plan-only }}
        working-directory: ${{ inputs.tf-folder }}
        run: terraform apply --auto-approve
