name: Pull Request Workflow

on:
  workflow_call:
    inputs:
      container-name:
        description: Name of the application container to get logs from
        required: false
        type: string
      charm-config-path:
        description: Path to the application config file
        required: false
        type: string
      use-charmcraftcache:
        description: Enable usage of charmcraftcache
        required: false
        default: false
        type: boolean
      node-size:
        description: Size of the self-hosted node (one of medium, large or xlarge) to run the integration tests
        type: string
        required: false
        default: large
      tox-unit-test-targets:
        description: Comma separated list of tox targets needed to perform unit-tests
        type: string
        required: false
        default: unit
      tox-integration-test-targets:
        description: Comma separated list of tox targets needed to perform integration-tests
        type: string
        required: false
        default: integration
      tox-integration-test-provider:
        description: |
          Which Juju provider to use as the backing cloud for integration-tests.
          Can be lxd or microk8s.
        type: string
        required: false
        default: microk8s
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: false

jobs:
  linting:
    name: Linting
    uses: ./.github/workflows/_charm-linting.yaml

  unit-test:
    name: Unit Tests
    uses: ./.github/workflows/_charm-tests-unit.yaml
    with:
      tox-unit-test-targets: ${{ inputs.tox-unit-test-targets }}
    needs:
      - linting

  integration-test:
    name: Integration Tests
    uses: ./.github/workflows/_charm-tests-integration.yaml
    with:
      container-name: ${{ inputs.container-name }}
      charm-config-path: ${{ inputs.charm-config-path }}
      use-charmcraftcache: ${{ inputs.use-charmcraftcache }}
      node-size: ${{ inputs.node-size }}
      tox-integration-test-targets: ${{ inputs.tox-integration-test-targets }}
      tox-integration-test-provider: ${{ inputs.tox-integration-test-provider }}
    needs:
      - linting
      - unit-test
