name: Promote Charm to Other Channel

on:
  workflow_call:
    inputs:
      origin-channel:
        description: 'Origin Channel'
        type: string
        required: true
      destination-channel:
        description: 'Destination Channel'
        type: string
        required: true
      charm-path:
        description: 'Path to charm directory'
        type: string
        required: false
        default: '.'
      charmcraft-channel:
        description: 'Snap channel to use when installing charmcraft'
        required: false
        type: string
        default: 'latest/edge'
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  promote-charm:
    name: Promote Charm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Promote charm to channel
        uses: canonical/charming-actions/promote-charm@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          credentials: ${{ secrets.CHARMCRAFT_CREDENTIALS }}
          origin-channel: ${{ inputs.origin-channel }}
          destination-channel: ${{ inputs.destination-channel }}
          charm-path: ${{ inputs.charm-path }}
          charmcraft-channel: ${{ inputs.charmcraft-channel }}
