name: Release Charm Libraries

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true
      PAT_TOKEN:
        required: true

jobs:
  release-libs:
    name: Release Charm Libraries
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Release bumped charm library
        uses: canonical/charming-actions/release-libraries@main
        with:
          credentials: "${{ secrets.CHARMCRAFT_CREDENTIALS }}"
          github-token: "${{ secrets.PAT_TOKEN }}"
