name: Auto Approve & Merge Pull Request

on:
  workflow_call:
    inputs:
      auto-merge-branch-prefix:
        description: 'The Prefix of Branch to be Auto Merged'
        type: string
        default: 'renovate/auto-'
        required: false
    secrets:
      PAT_TOKEN:
        required: true

jobs:
  pr-auto-approve:
    name: Auto Approve Pull Request
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Approve pull request
        run: |
          gh pr review --approve || true
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}

      - name: Auto merge pull request
        if: startsWith(github.ref_name, github.event.inputs.auto-merge-branch-prefix)
        run: |
          gh pr merge --auto --merge || true
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
